<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="網站描敘">
  <meta name="keywords" content="網站關鍵字">
  <meta name="format-detection" content="telephone=no">
  <title>index</title>

  <!-- icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
  <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">

  <!-- CSS -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>


<body class="home">


  <div id="app">

    <section class="upLayer">
      <div class="showArea upLayerBox">
        <input class="inputBox" type="number" ref="numInput" placeholder="10" :value="showNum">
        <div class="enterBtn btnStyle" @click="changeShowNum()">確認</div>
        <p class="text">在欄位輸入希望顯示筆數，並按下確認鍵送出(預設為10筆)</p>
      </div>
      <div class="pageArea upLayerBox">
        <!-- .prop的屬性在HTML上面是看不到的 -->
        <div class="btn btnStyle" @click="changeDataEvent()" :control.prop="prev">上一頁</div>
        <div class="btn btnStyle" @click="changeDataEvent()" :control.prop="next">下一頁</div>
      </div>
      <div class="selectArea upLayerBox">
        <!-- <select-area v-for="text in area" :area="area"></select-area> -->
        <select name="" id="" @change="selectDataEvent()" ref="selectValue">
          <option v-for="areaName in area" :value="areaName">{{areaName}}</option>
        </select>
      </div>
      <div class="infoArea upLayerBox">
        <p class="text-xl">新北市Youbike API串接測試</p>
        <p class="text-l text">本頁面每2分鐘更新資訊一次</p>
      </div>
    </section>

    <section class="downLayer">
      <div class="dLeft">
        <div class="bikeInfoBox" v-for="item in bikeDataArray">
          <p class="text-xl" style="display:none;" data-name="sna">{{item.sna}}</p>
          <p style="display:none;" data-name="sno">{{item.sno}}(站點代號)</p>
          <p style="display:none;" data-name="sarea">{{item.sarea}}</p>
          <p style="display:none;" data-name="ar">{{item.ar}}</p>
          <p class="text-l" style="display:none;" data-name="sbi">{{item.sbi}}可借車數</p>
          <p class="text-l" style="display:none;" data-name="bemp">{{item.bemp}}可還空位數</p>
          <p class="text-l" style="display:none;" data-name="tot">{{item.tot}}總停車格</p>
          <p style="display:none;" data-name="sareaen">{{item.sareaen}}</p>
          <p style="display:none;" data-name="snaen">{{item.snaen}}</p>
          <p style="display:none;" data-name="aren">{{item.aren}}</p>
          <p style="display:none;" data-name="act">{{item.act}}</p>
          <br>
        </div>
      </div>

      <div class="dRight">
        <!--用來放勾選選項的地方-->
        <check-box-area></check-box-area>
      </div>
    </section>
  </div>


<!-- javascript -->
  <script src="assets/js/vendor/vue/vue.js"></script>
  <script src="assets/js/vendor/axios/dist/axios.js"></script>
  <script src="assets/js/allFun.js"></script>

</body>

</html>
