<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="網站描敘">
  <meta name="keywords" content="網站關鍵字">
  <meta name="format-detection" content="telephone=no">
  <title>index</title>

  <!-- icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
  <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">

  <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">

</head>


<body class="home">




<!-- javascript -->
  <script src="../../assets/js/allFun.js"></script>

</body>

</html>
